
<h2> Start Smart Saving Now! </h2>
<h3> This is what all of our users saved up to now!! <strong> <%= number_to_currency(@records.sum (:amount), unit: "ZAR ") %></strong></h3>


<h4> Current Top Savers: </h4>

User: <%= @top.user.email %>




