<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  
		<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" id="home" name="home" id="myCarousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<img src="http://i.imgur.com/43WZfW8.jpg?1" alt="tree" class="img-responsive">
			<div class="carousel-caption">
				<h2> Start Smart Saving Now! </h2>
			</div>
		</div>
		<div class="item">
			<img src="http://i.imgur.com/GQi5kxv.jpg?1" alt="pig" class="img-responsive">
			<div class="carousel-caption">
				<h3> This is what all of our users saved up to now!!<strong> <%= number_to_currency(@records.sum(:amount), :unit => "ZAR ")  %></strong></h3> 
			</div>
		</div>
		<div class="item">
			<img src="http://i.imgur.com/EeYIoXO.jpg?1" alt="student" class="img-responsive">
			<div class="carousel-caption">
				<h3>Sign up now to keep track of your savings!</h3><br>
				<%= link_to('Sign Up', new_user_registration_path, :class => 'btn btn-md btn-primary') %>
			</div>
		</div>
		<div class="item">
			<img src="http://i.imgur.com/WCtoCos.jpg?1" alt="pig" class="img-responsive">
			<div class="carousel-caption">
				<h3> Set a goal for your savings!</h3> 
			</div>
		</div>
	</div>

	<a class="carousel-control left" href="#myCarousel" data-slide="prev">
	<span class="icon-prev"></span>
	</a>

	<a class="carousel-control right" href="#myCarousel" data-slide="next">
	<span class="icon-next"></span>
	</a>
</div>
			    
	    </div><!-- /headerwrap -->

		<!-- ==== GREYWRAP ==== -->
		<div class="header-content">
<h1> Smart Saver Stories </h1><br><br>
</div>

 <div class="container-marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row vertical-center-row">
        <div class="col-md-4">
          <img class="img-circle" src="http://i.imgur.com/oDYctK2.jpg?1" alt="Enrique" width="160" height="160">
          <div class="stories">
	          <h2>Enrique</h2>
	          <p>As a 20 year old student I use Smart Saver to help me keep track of my savings and it helps me keep motivated to save more. Last month I saved enough money to go on a trip with my friends to Cape Town and I didn't have to worry about my money at all because I made sure I saved enough for this trip. </p>
	      </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
          <img class="img-circle" src="https://d3n8a8pro7vhmx.cloudfront.net/bmecommunity/pages/344/attachments/original/1412347357/LaDamien_Myers-496x416.jpg?1412347357" alt="John" width="160" height="160">
          <div class="stories">
          	  <h2>John</h2>
	          <p>With a family to take care of I realized how important it is to start saving. I never use to save a lot of money before and did't really know how. With Smart Saver I started saving for my son's studies and my retirement. I like to get into the top 5 savers soon! </p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
          <img class="img-circle" src="http://www.kaspi.ca/data/photos/136_1r20130120103202.jpg" alt="Generic placeholder image" width="160" height="160">
          <div class="stories">
	          <h2>Susan</h2>
	          <p>Smart Saver helped me to learn more about savings and loans. I used to have debts because I would get loans without knowing when and how much I would have to pay back. As a single mother I am now saving for my daughter's wedding and het studies. </p>
	       </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      			<div class="row">
					<h2 class="centered">START SAVING</h2><br>
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<img class="img-responsive" src="http://littleworksofheart.typepad.com/.a/6a00d83452dc8469e2019b00491a61970d-pi" alt="">
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
  		
		
		<!-- ==== ABOUT ==== -->
		<div class="container" id="Savings" name="Savings">
			<div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-md-12"><br><br>

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Savings 101: What is a Savings Account</h1>

<strong> by John Gower </strong>

                <!-- Preview Image -->
                <img class="img-responsive" src="http://www.sinbon.com/wp-content/uploads/2013/10/wishes.jpg" width=1200; height=240 >

                <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-4">        
                <p class="lead">

             <h1> The basics </h1>

A savings account is likely the simplest type of bank account available to consumers. It allows consumers to store excess cash in a secure location (an insured bank or credit union) all while earning interest on the balance.

Cash stored in a savings account is less liquid, or accessible, than in a checking account but more so than cash stored in a CD (Certificate of Deposit).  The Federal Reserve Board’s Regulation D mandates that a depositor may make no more than six transfers/withdrawals out of a savings account per month. This includes transfers to other linked accounts at the same bank. A violation of this rule typically leads to a fee, and repeated violations may lead to account closure.
			</div>
			<div class="col-md-4"> 

<h1>Savings rates</h1>

Arguably the most important consideration when choosing a savings account is finding the best savings interest rate. After all, earning interest is a primary function of the account.

Since a savings account is more liquid than a CD, banks will typically offer a lower rate than with a CD (which requires locking in funds for a specified period of time). In most cases, CDs also maintain the same interest rate for the duration of the term. Not so for savings accounts. Savings yields may fluctuate over time, subject to a variety of economic forces as well as the interests of the bank itself. This can be a positive for savers, in the case of rising interest rates, but can also disappoint for account holders experiencing a decline in yield.
			</div>
			<div class="col-md-4"> 
<h1> Where to bank </h1>

Consider these three types of financial institutions when researching a savings account:

Banks
The biggest banks often seem appealing due to their abundance of branches, well-known brands, and variety of services, but they also tend to offer very low rates on savings accounts.

Credit unions
Credit unions tend to offer higher rates than banks for share accounts (their term for a basic savings account). You may need to meet certain membership requirements to join, however.

Online/internet banks
As a whole, high yield savings accounts at online banks maintain the best rates. The primary drawback is that, unlike a traditional brick-and-mortar bank or credit union, you can’t simply walk into a local branch for assistance.
			</div><br><br><br>

			     			<div class="row">
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<img class="img-responsive" src="http://www.advancefundsnetwork.com/wp-content/uploads/2011/09/Unsecured-BadCreditLoan-Approved.jpg" alt="">
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
 <!-- Page Content -->
    <div class="container" id="Credit"><br><br>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-md-12">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Credit Cards 101: Managing Personal Credit</h1>

<strong> by Lindsay Konsko </strong>

                <!-- Preview Image -->
                <img class="img-responsive" src="http://www.sinbon.com/wp-content/uploads/2013/10/wishes.jpg" width=1200; height=240 >

                <hr>
<div class="container">
        <div class="row">
            <div class="col-md-4">        
                <p class="lead">



                <h1> What is a credit card? </h1>

A credit card is a tool that allows you to use borrowed money to pay for goods and services. It works like this: When you’re approved, the bank hands over a hunk of credit in the form of a plastic card to use at your discretion. In swiping your credit card, you’re not using your money to pay for your groceries or a new outfit. You’re using the bank’s money, which they’ll let you do on a short-term basis without incurring any interest. At the end of the month, you have to pay that mini-loan back in full or finance charges will be assessed.

Debit cards work differently. With this type of plastic, an auto draft from your checking account is occurring when you swipe your card. You’re using your own funds to pay for your items on the spot, so there’s no borrowing involved and no bill to settle at the end of the month.

Prepaid debit cards are similar to debit cards, but with a significant twist. Instead of tapping funds in your checking account, swiping a prepaid debit means drawing on a cash deposit you made onto the card; you’ve essentially paid ahead for your purchases. As with debit cards, you’re not borrowing money from a bank when you use prepaid debit.

			</div>
            <div class="col-md-4">

<h1> Why it’s important to get a credit card </h1>
To the untrained eye, it might seem that debit or prepaid debit cards are a smarter way to pay. Since they don’t involve borrowing money, there’s no way to get into debt, right?

That’s right, but using borrowed money responsibly is essential to building your credit profile. Having good credit will make it much easier for you to get loans on good terms in the future. It will also go a long way toward making other financial tasks stress-free. Examples of these tasks include renting an apartment and finding affordable car insurance.

Aside from building credit, using a credit card as your primary form of payment plastic will also help you earn rewards and minimize fees. Usually, debit and prepaid debit don’t offer rewards programs, and prepaid debit cards are notorious for their high (and often opaque) fees.

			</div>
	        <div class="col-md-4">

<h1> Tips for effective credit card use</h1>
Getting a credit card is only going to help you build good credit if you use it carefully. Here are the Nerds’ top tips for the care and keeping of your card:

Pay your bill on time every month. No exceptions!
Pay off your charges in full every month. Credit card debt is expensive and can drag down your credit score.
Keep the balance on your card below 30% of your available credit at all times during the month. Make a payment if you start approaching that threshold.
Put at least six months of space between credit card applications.
Check your credit card online at least once per week. This will help you track your spending, and could help you spot fraud fast.
			</div>
		</div>
	</div>
<br>
<h1>The bottom line</h1>

Although they look and feel the same, credit cards are very different from debit and prepaid debit cards. Using a credit card responsibly is a great way to build and maintain a healthy credit profile, so be sure to get started as soon as you can.

<h1> article</h1>
 http://www.visa.co.za/za/en-us/aboutvisa/newsroom/pressreleases/RSA_12022013.shtml
 </div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
