index.html.erb

LoanInfoCalc

<h1> article</h1>
 http://www.visa.co.za/za/en-us/aboutvisa/newsroom/pressreleases/RSA_12022013.shtml

Credit Cards 101

by Lindsay Konsko on March 30, 2015


<h1> What is a credit card? </h1>

A credit card is a tool that allows you to use borrowed money to pay for goods and services. It works like this: When you’re approved, the bank hands over a hunk of credit in the form of a plastic card to use at your discretion. In swiping your credit card, you’re not using your money to pay for your groceries or a new outfit. You’re using the bank’s money, which they’ll let you do on a short-term basis without incurring any interest. At the end of the month, you have to pay that mini-loan back in full or finance charges will be assessed.

Debit cards work differently. With this type of plastic, an auto draft from your checking account is occurring when you swipe your card. You’re using your own funds to pay for your items on the spot, so there’s no borrowing involved and no bill to settle at the end of the month.

Prepaid debit cards are similar to debit cards, but with a significant twist. Instead of tapping funds in your checking account, swiping a prepaid debit means drawing on a cash deposit you made onto the card; you’ve essentially paid ahead for your purchases. As with debit cards, you’re not borrowing money from a bank when you use prepaid debit.

<h1> Why it’s important to get a credit card </h1>
To the untrained eye, it might seem that debit or prepaid debit cards are a smarter way to pay. Since they don’t involve borrowing money, there’s no way to get into debt, right?

That’s right, but using borrowed money responsibly is essential to building your credit profile. Having good credit will make it much easier for you to get loans on good terms in the future. It will also go a long way toward making other financial tasks stress-free. Examples of these tasks include renting an apartment and finding affordable car insurance.

Aside from building credit, using a credit card as your primary form of payment plastic will also help you earn rewards and minimize fees. Usually, debit and prepaid debit don’t offer rewards programs, and prepaid debit cards are notorious for their high (and often opaque) fees.

<h1> Tips for effective credit card use</h1>
Getting a credit card is only going to help you build good credit if you use it carefully. Here are the Nerds’ top tips for the care and keeping of your card:

Pay your bill on time every month. No exceptions!
Pay off your charges in full every month. Credit card debt is expensive and can drag down your credit score.
Keep the balance on your card below 30% of your available credit at all times during the month. Make a payment if you start approaching that threshold.
Put at least six months of space between credit card applications.
Check your credit card online at least once per week. This will help you track your spending, and could help you spot fraud fast.

<h1>The bottom line</h1>

Although they look and feel the same, credit cards are very different from debit and prepaid debit cards. Using a credit card responsibly is a great way to build and maintain a healthy credit profile, so be sure to get started as soon as you can.



