<h1> Create your new Goal! </h1>
<%= render 'form' %>

<div class="examplegoals">
	<h1> Example Goals </h1>

	<strong> New House </strong><br>
	<img src="http://www.trafalgarproperty.net/wp-content/uploads/2013/01/Cartoon-house1.jpg" width=250;height=250/><br>

	<strong> New Car </strong><br>
	<img src="http://www.clipartbest.com/cliparts/niE/XAa/niEXAaXiA.jpeg"width=250;height=250/><br>

	<strong> Vacation/Trip </strong><br>
	<img src="http://ak.picdn.net/shutterstock/videos/4001560/preview/stock-footage-cruise-ship-cartoons.jpg"width=250;height=250/><br>

	<strong> Retirement </strong><br>
	<img src="http://cliparts.co/cliparts/riL/oKG/riLoKGEaT.jpg"width=250;height=250/><br>


	<strong> College/Education </strong><br>
	<img src="http://bestclipartblog.com/clipart-pics/college-clip-art-4.jpg"width=250;height=250/><br>
</div>
