.inner-item {
    width:100%;
    height: 480px;
}

.carousel-caption{
position:absolute;
vertical-align: middle;
    top:0px;
    left:20px;
    color:#26cb96;
    font-size:4em;
}
.header-content{
	text-align:center;
}
.container-marketing {
    text-align:center;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img { 
	min-width: 100%;
}