    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-md-12">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Savings 101: What is a Savings Account</h1>

<strong> by John Gower </strong>

                <!-- Preview Image -->
                <img class="img-responsive" src="http://www.sinbon.com/wp-content/uploads/2013/10/wishes.jpg" width=1200; height=240 >

                <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-4">        
                <p class="lead">

             <h1> The basics </h1>

A savings account is likely the simplest type of bank account available to consumers. It allows consumers to store excess cash in a secure location (an insured bank or credit union) all while earning interest on the balance.

Cash stored in a savings account is less liquid, or accessible, than in a checking account but more so than cash stored in a CD (Certificate of Deposit).  The Federal Reserve Board’s Regulation D mandates that a depositor may make no more than six transfers/withdrawals out of a savings account per month. This includes transfers to other linked accounts at the same bank. A violation of this rule typically leads to a fee, and repeated violations may lead to account closure.
			</div>
			<div class="col-md-4"> 

<h1>Savings rates</h1>

Arguably the most important consideration when choosing a savings account is finding the best savings interest rate. After all, earning interest is a primary function of the account.

Since a savings account is more liquid than a CD, banks will typically offer a lower rate than with a CD (which requires locking in funds for a specified period of time). In most cases, CDs also maintain the same interest rate for the duration of the term. Not so for savings accounts. Savings yields may fluctuate over time, subject to a variety of economic forces as well as the interests of the bank itself. This can be a positive for savers, in the case of rising interest rates, but can also disappoint for account holders experiencing a decline in yield.
			</div>
			<div class="col-md-4"> 
<h1> Where to bank </h1>

Consider these three types of financial institutions when researching a savings account:

Banks
The biggest banks often seem appealing due to their abundance of branches, well-known brands, and variety of services, but they also tend to offer very low rates on savings accounts.

Credit unions
Credit unions tend to offer higher rates than banks for share accounts (their term for a basic savings account). You may need to meet certain membership requirements to join, however.

Online/internet banks
As a whole, high yield savings accounts at online banks maintain the best rates. The primary drawback is that, unlike a traditional brick-and-mortar bank or credit union, you can’t simply walk into a local branch for assistance.
			</div>





