<h1>Great! You want to create a new goal for your savings!</h1>

<h2>Before we get started with creating your goal, let's see what you know about saving...</h2>

<ul>
<h3>
	<li>Have you ever saved money before?</li>
	<li>How much do you spend on a weekly basis?</li>
	<li>Do you have a savings account?</li>
	<li>Why do you want to save money?</li>
	<li>How are you going to save money?</li></h3>
</ul>

<br>

<h1><strong><%= link_to 'New Goal', new_user_goal_path(current_user) %> </strong></h1>