<h1>Great! You want to create a new goal for your savings!</h1>

<h2>Before we get started with creating your goal, let's see what you know about saving..</h2>

<h3> How to save? <h3>

<ul>
	<li>Have you ever saved money before?</li>
	<li>Do you have an idea of</li>
	<li></li>
	<li></li>
</ul>






CHECK BOXES YES/NO -- 5-7 QUESTIONS

SUBMIT REDIRECTS TO NEW_GOAL PAGE